# Compiled sorces
*.o

# utility files
util/comparisonDist_*.csv

# executables
bin/**
!bin/.keep

# compiled libraries
lib/**
!lib/.keep

# build directory
build/**

# IDE project files
.geanyprj

# temporary skratch files
skratch.tex

# temporary ubuntu files
*~

# Examples
Example/distribution_initial.csv
Example/distribution_final.csv
Example/eDist_*.csv

# files to maintain proper license documentation
prependLicense.sh
.licenseHeaderMatlab
.licenseHeaderCPP
