# Compiled sorces
obj/**
!obj/.keep
*.o

# utility files
util/compairisonDist_stepped*

# executables
bin/**
!bin/.keep

# IDE project files
.geanyprj

# temporary skratch files
skratch.tex

# temporary ubuntu files
*~

# files to maintain proper license documentation
prependLicense.sh
.licenseHeaderMatlab
.licenseHeaderCPP
